.collection-container {
    padding: 20px;
    text-align: center;
  }

  .collection-container hr{
    margin-bottom: 10px;
  }
  
  .collection-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .watch-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 oszlopos elrendezés */
    gap: 20px;
  }
  
  hr{
    height: 15px;
    border: none;
    background-color: rgb(11, 10, 10);
  }

  .watch-item {
    display: flex;
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 250px;
  }
  
  .watch-image {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .static-content-text {
    font-size: 0.9rem;
  }
  
  .static-content-top-left {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .static-content-middle {
    margin-bottom: 10px;
  }
  
  .static-content-list {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .static-content-list li {
    margin-bottom: 5px;
  }
  
  